.logo_custom {
    display: none;
}

.hide-on-mobile,
.hide-on-desktop {
    margin-top: 100px;
}

.navbar {
    background: #000;
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #000;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991px) {
    .navbar {
        background: #000;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #fff;
    }

    .navbar>.container, .navbar>.container-fluid {
    	display: inline !important;
    }

    .navbar-toggler {
    	color:  #fff;
    	float: right;
    	font-size: 2.5rem !important;
    	margin-top: 8px;
    }

    .navbar-collapse {
    	text-align: right;
    	margin-top: 30px;
    	margin-right: 0px !important;
    	margin-left:  0px !important;
    	border-top:  1px solid #000 !important;
    }
}

img {
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
}

ul.navbar-nav > li > a {
	border-top: 0px solid black !important;
	padding-top:  5px !important;
	padding-bottom:  5px !important;
	font-family: 'Cabin', sans-serif;
	text-transform: none !important;
}

ul.navbar-nav > li a:hover {
	border-top:  none;
}

body {
	font-family: 'Cabin', sans-serif !important;
	font-size:  1.5rem !important;
}

h4 {
	font-size: 1.75rem !important;
	font-weight: bold !important;
}
